<script id="site-script" src="{{{uiRootPath}}}/js/site.js" data-ui-root-path="{{{uiRootPath}}}"></script>
<script id="i18n" src="{{{uiRootPath}}}/js/vendor/i18n.js"</script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/tabs.js"></script>
<script src="{{uiRootPath}}/js/vendor/custom.js"></script>
{{#if (eq page.attributes.role 'neovis')}}
{{> footer-scripts-home}}
{{/if}}
{{#if (eq page.attributes.role 'detail')}}
{{> footer-scripts-home}}
{{/if}}
{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}
