<script id="site-script" src="{{{uiRootPath}}}/js/site.js" data-ui-root-path="{{{uiRootPath}}}"></script>
<script id="i18n" src="{{{uiRootPath}}}/js/vendor/i18n.js"</script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/tabs.js"></script>
{{#unless (eq page.attributes.role 'home')}}
{{#unless (eq page.attributes.image undefined)}}
<script async src="{{uiRootPath}}/js/vendor/custom-zoom.js"></script>
{{/unless}}
{{/unless}}

{{#if (eq page.attributes.role 'home')}}
<script src="{{uiRootPath}}/js/vendor/footer-overview.js"></script>
{{/if}}

{{#if (eq page.attributes.js 'neovis')}}
<script src="{{uiRootPath}}/js/vendor/footer-neovis.js"></script>
{{/if}}

{{#if (eq page.attributes.js 'd3-cloud')}}
<script>
  var results = sessionStorage.getItem('dyu');
  console.log (results);

  // Render the cloud object
 // <!-- cloud.render(document.getElementById('cloud')); -->
// Close the session object
//session.close();
</script>
{{/if}}

{{#if (eq page.attributes.js 'd3-neo4j')}}
<script type="module" src="{{uiRootPath}}/js/vendor/d3-neo4j.js"></script>
{{/if}}

{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}
