<footer class="footer {{#if (eq page.attributes.role 'neovis')}} home{{/if}}{{#if (eq page.attributes.role 'home')}} home{{/if}}">
  <div class="footer-brand">
      <div class="footer-brand-name"><a href="https://coastsystems.net">coastsystems.net</a></div>
    </div>
  <div class="footer-center">
    <div id="copyright">Copyright © {{{year}}} Boyd Kelly</div>
    <div id="attributions">This site built by <a href="https://www.coastsystems.net">Boyd Kelly</a> with Antora, Asciidoc, Openprops, and lots of Neovim.</div>
  </div>
    <div class=footer-social>
    <ul class="social-links">
      <li><a id="twitter" href="https://twitter.com/boydkelly" target="_blank" rel="noopener" aria-label="Twitter"><svg class="feather twitter"><use xlink:href="{{{uiRootPath}}}/img/feather-sprite.svg#twitter"/></svg></a></li>
      <li><a id="linkedin" href="https://www.linkedin.com/in/boydkelly/" target="_blank" rel="noopener" aria-label="Linkedin"><svg class="feather linkedin"><use xlink:href="{{{uiRootPath}}}/img/feather-sprite.svg#linkedin"/></svg></a></li>
      <li><a id="gitlab" href="https://www.gitlab.com/boydkelly/" target="_blank" rel="noopener" aria-label="Gitlab"><svg class="feather gitlab"><use xlink:href="{{{uiRootPath}}}/img/feather-sprite.svg#gitlab"/></svg></a></li>
      <li><a id="github" href="https://www.github.com/boydkelly/?hl=fr" target="_blank" rel="noopener" aria-label="Github"><svg class="feather github"><use xlink:href="{{{uiRootPath}}}/img/feather-sprite.svg#github"/></svg></a></li>
    </ul>
  </div>
</footer>
