{{#with site.keys.googleAnalytics}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{this}}"></script>
<script>function gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new Date());gtag('config','{{this}}')</script>
{{/with}}

<script>var uiRootPath = '{{{uiRootPath}}}'</script>

{{#unless (eq page.attributes.role 'home')}}
{{#unless (eq page.attributes.image undefined)}}
<script defer src="{{uiRootPath}}/js/vendor/medium-zoom.js"></script>
{{/unless}}
{{/unless}}

{{#if (eq page.attributes.role 'lexique')}}
<script defer src="{{uiRootPath}}/js/vendor/language.js"></script>
{{/if}}

<script src="{{{uiRootPath}}}/js/vendor/gettext.iife.js" type="text/javascript"></script>
<script src="{{uiRootPath}}/js/vendor/i18n-messages.js"></script>
<script defer src="{{uiRootPath}}/js/vendor/cycle-theme.js"></script>

{{#if (eq page.attributes.js 'neovis')}}
<script src="{{uiRootPath}}/js/vendor/neovis.js"></script>
<script src="{{uiRootPath}}/js/vendor/overview.js"></script>
<script src="{{uiRootPath}}/js/vendor/render-viz.js"></script>
{{/if}}

{{#if (or (eq page.attributes.js 'd3-neo4j') (eq page.attributes.js 'd3-cloud'))}}
<script src="{{uiRootPath}}/js/vendor/d3.v7.js"></script>
<script src="{{uiRootPath}}/js/vendor/d3-neo4j.js"></script>
{{/if}}
