<header class="header">
  <nav class="navbar">
    {{> navbar-brand}}
    <div id="topbar-nav" class="navbar-menu">

      <div class="navbar-end">

        {{> navbar-search}}

        {{#with page.attributes.about}}
        <div class="navbar-item"><a href="{{{relativize (resolvePageURL 'ROOT:about.adoc')}}}">{{{this}}}</a></div>
        {{/with}}

        <div class="navbar-item has-dropdown is-hoverable" id="more">
          <div class="navbar-link">
            <img class="icon more" src="/_/img/more-vertical.svg" alt="">
          </div>
          <div class="navbar-dropdown is-right">
            {{#with page.attributes.julakan}}
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'en@blog:ROOT:julakan.adoc')}}}">{{{this}}}</a>
            {{/with}}

            {{#with page.attributes.english-in-french}}
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'en@blog:ROOT:anglais-francais.adoc')}}}">{{{this}}}</a>
            {{/with}}

            {{#with page.attributes.technology}}
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'en@blog:ROOT:technology.adoc')}}}">{{{this}}}</a>
            {{/with}}
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>
  {{> nav-scripts}}
</header>
