{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{#with @root.page.componentVersion}}
{{! removed title here}}
    {{/with}}
{{> nav-tree navigation=this}}
  </nav>
</div>
{{/with}}
