<div class="navbar-item has-dropdown is-hoverable is-mobile" title="Site language">
  <div class="navbar-language">
    <div class="navbar-link globe">
      <img class=icon alt="" src="/_/img/globe.svg">
    </div>
    {{#each (rearrange site.components 'name' componentOrder)}}
    {{#if (eq ./name @root.page.component.name)}}
    {{#each ./versions}}
    {{~#unless (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}}
    <a class="navbar-item version
                       {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
                       {{~#if (eq this ../latest)}} is-latest{{/if}}"
       href="{{{relativize ./url}}}">{{./version}}</a>
    {{/unless~}}
    {{/each}}
    {{/if}}
    {{/each}}
  </div>
</div>
