<div class="navbar-item has-dropdown is-hoverable is-desktop" id="site-lang">
  <div class="navbar-link">
    <img class="icon globe" alt="" src="/_/img/globe.svg"> {{@root.page.version}}</div>
  <div class="navbar-dropdown">
    {{#each (rearrange site.components 'name' componentOrder)}}
    {{#if (eq ./name @root.page.component.name)}}
      {{#each ./versions}}
      {{~#unless (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}}
    <a class="navbar-item version
                        {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
                        {{~#if (eq this ../latest)}} is-latest{{/if}}"
       href="{{{relativize ./url}}}">{{./displayVersion}}</a>
      {{/unless~}}
      {{/each}}
    {{/if}}
    {{/each}}
  </div>
</div>
