.doc {
  font-family: var(--body-font-family);
  /* max-width: var(--doc-max-width--desktop); */
  padding: 0 1rem 2rem;
  scroll-padding-top: 10rem;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.doc :is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: 5rem;
  font-weight: bold;
}

.doc :is(h5, h6) {
  font-size: var(--font-size-1);
}

/* strange margin setting -.5 in default? set to .5rem */
.doc > h1.page:first-child + aside.toc.embedded {
  margin-top: 0.5rem;
}

/* should this be in home.css? */
body.article.home .content {
  flex-basis: 100%;
}

@media screen and (min-width: 1024px) {
  .doc table.tableblock {
    /*
box-shadow: 5px 0 0 var(--color-white);
*/
    box-shadow: var(--surface-shadow);
  }

  .doc .content table.tableblock {
    box-shadow: none;
  }
}

#preamble .abstract blockquote {
  background: var(--quote-background);
  border-left: none;
  color: var(--abstract-font-color);
  font-size: var(--font-size-1);
  padding: 0.75em 1em;
}

.hdlist1 {
  font-weight: bold;
  font-style: italic;
  color: var(--body-font-color);
}

@keyframes animateDown {
0% {
  opacity: 0;
  transform: translateY(0);
}

100% {
  opacity: 1;
  transform: translateY(0);
}
}

.doc .quoteblock blockquote {
  border-style: none;
}

/* not sure why this is here */
/* .doc code, .doc pre { */
/*   background-color: inherit; */
/* } */

/* Force table to not be like tables anymore
*
* I think this is for the jula dico 1993 version with tables; mobile display */

@media only screen and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td {
    display: block;
  }

  tr {
    display: flex;
    flex-flow: row wrap;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    padding-left: 50%;
    flex-basis: 1 1 0;
  }

  td::before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1) {
    flex-basis: max-content;
  }
  /*
Label the data
.doc td:nth-of-type(1):before { content: ""; }
.doc td:nth-of-type(2):before { content: ""; }
.doc td:nth-of-type(3):before { content: ""; }
.doc td:nth-of-type(4):before { content: ""; }
.doc td:nth-of-type(5):before { content: ""; }
.doc td:nth-of-type(6):before { content: ""; }
.doc td:nth-of-type(7):before { content: ""; }
.doc td:nth-of-type(8):before { content: ""; }
.doc td:nth-of-type(9):before { content: ""; }
.doc td:nth-of-type(10):before { content: ""; }
*/
}

.grid tbody {
  display: inline-grid;
}

.image.left,
.imageblock.left {
  padding-right: 1em;
}

.image.right,
.imageblock.right {
  padding-left: 1em;
}

/* was this for old site with tabs on docs?
*
.doc {
margin-top: 0;
}
* */
/*  lisk */

.doc .sidebarblock > .content > .title {
  text-align: inherit;
  font-size: 1.15em;
}

.medium-zoom-image {
  z-index: 999;
}

/* remplace h1 space with padding; grid */
.doc > h1.page:first-child {
  padding-top: 1.5rem;
  margin: 0;
}

/*
.doc h2 {
font-size: 1.45em;
}

.doc h3 {
font-size: 1.4em;
}

.doc h4 {
font-size: 1.35em;
}
*/

.doc h1,
.doc h2 {
  color: var(--heading-font-color);
  font-family: var(--nav-font-family);
  line-height: 120%;
}

.doc .imageblock {
  border: var(--surface-3) 1px solid;
  border-radius: 20px;
}

.doc .imageblock .title {
  margin: unset;
}

.doc .exampleblock .title,
.doc .imageblock .title,
.doc .literalblock .title,
.doc .listingblock .title,
.doc .openblock .title,
.doc .tableblock caption {
  padding: 0.5em;
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-size: var(--font-size-fluid-0);
  font-style: unset;
}

.doc .listingblock pre:not(.highlight),
.doc .literalblock pre,
.doc pre.highlight,
.doc pre.highlight code {
  border-radius: 20px;
  border-radius: var(--radius-2);
}

.doc a:hover {
  color: var(--link_hover-font-color);
  text-decoration: underline;
}

.exampleblock,
.doc .listingblock {
  display: flex;
  flex-direction: column;
}

.exampleblock .title,
.doc .listingblock .title {
  display: flex;
  align-self: center;
}

:where {
  .doc table {
    background-color: var(--body-background);
    box-shadow: var(--shadow-1);
  }
}

.doc table.tableblock {
  border-collapse: collapse;
  border-style: hidden;
}

.doc table.tableblock,
.doc table.tableblock > * > tr > * {
  border-color: var(--surface-3);
}

.doc table.tableblock > * > tr > * {
  border-left-width: 0;
  border-right-width: 0;
}

.doc table.grid-all > thead th,
.doc table.grid-rows > thead th {
  padding: 0.5em 1em;
  border-bottom-width: 1px;
}

.doc .sidebarblock {
  background-color: var(--sidebar-background);
}

.doc .colist > table code,
.doc p code,
.doc thead code {
  background-color: var(--pre-background);
}

pre {
  background-color: var(--pre-background);
}

.doc .imageblock {
  border: none;
}

/* in ortho de BF noticed that lists followd by p have no space */
.doc dl, .doc p {
  margin:  .5rem 0 0;
}

/* for lexique */
.sect3 dt.hdlist1,
.sect3 .paragraph {
  margin-top: 0;
}

.article.lexique h4 {
  color: var(--teal-600);
}

.article.lexique .ulist.def > ul > li > p {
  color: var(--cyan);
}

/* for udhr table */
.doc .tableblock.udhr :is {
  ol,dl,h6,p {
    font-size: var(--font-size-0);
  }
}

.udhr .ulist.ul {
  padding: 0 0 0 .2rem;
}

#viz {
  border: none;
  min-width: 100%;
  /* min-height: 330px; */
  height: calc(100dvh - var(--navbar-height) - var(--toolbar-height) - var(--footer-height-mobile) - 140px);
  /* max-height: 340px; */
}

@media screen and (min-width: 1024px) {
  #viz {
    min-width: 100%;
    /* min-height: 330px; */
    /* max-height: 330px; */
    height: calc(100dvh - var(--navbar-height) - var(--toolbar-height) - var(--footer-height-desktop) - 210px);
  }
}
