body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: var(--navbar-height) var(--toolbar-height) 1fr auto;
  grid-template-areas:
    "head"
    "tool"
    "main"
    "foot";
  min-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  grid-area: head;
  z-index: var(--z-index-navbar);
  width: 100%;
  position: fixed;
  top: 0;
}

.toolbar {
  grid-area: tool;
  z-index: var(--z-index-toolbar);
}

article.doc {
  margin: 0;
  grid-area: main;
  display: flex;
  flex-direction: column;
}

footer.footer {
  grid-area: foot;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {

  body {
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-columns: minmax(10px, 325px) minmax(10px, 4fr); */
    /* grid-template-columns: minmax(10px, 325px) minmax(10px, 100%); */
    grid-template-columns: minmax(300px, 1fr) 4fr minmax(300px, 1fr);
    grid-template-rows: var(--navbar-height)
      var(--toolbar-height)
      minmax(calc(100dvh - var(--toolbar-height) - var(--navbar-height) - var(--footer-height-desktop)), auto)
      auto;
    grid-template-areas:
      "head head head"
      "nav tool tool"
      "nav main aside"
      "foot foot foot";
    min-height: 100dvh;
    overflow-y: hidden;
  }

  .nav-container {
    grid-area: nav;
    display: block;
    /* position: sticky; */
    /* top: 0; */
  }

  article.doc{
    margin: 0;
    grid-area: main;
    overflow-y: scroll;
    position: sticky;
    top: 0;
  }

  aside.toc.sidebar{
    margin: 0;
    grid-area: aside;
    display: flex;
    overflow-y: scroll;
    /* position: sticky; */
    /* top: 0; */
  }

  body.article.slides {
    grid-template-rows: var(--navbar-height) auto 1fr auto;
  }

}
