.nav-container {
  background-color: var(--nav-background);
}

@media screen and (min-width: 1024px) {
  .nav-container {
    width: 100%;
  }
}

.nav-panel-menu {
  min-height: var(--nav-panel-menu-height);
  /* height: calc(100% - 2.5rem); */
  height: auto;
  overflow-y: auto;
}

.nav-panel-explore {
  display: none;
}

.nav-list {
  margin: 0;
}

ul.nav-list {
  /* openprops fix fluid not good here */
  font-size: var(--font-size-1);
}

.nav-list > .nav-item[data-depth="1"] {
  margin-top: 1em;
}

.nav-menu {
  margin-left: 1rem;
}

.nav-menu > .title {
  display: none;
}

.nav-list > .nav-item[data-depth="1"] > span,
.nav-list > .nav-item[data-depth="1"] > a,
.nav-list > .parent[data-depth="1"] > span > a {
  text-transform: uppercase;
  border-radius: 25px;
}

/*
@media screen and (min-width: 1024px) {
  .nav {
    top: calc(var(--navbar-height) + var(--toolbar-height));
  }
}
*/

button.nav-item-toggle::hover {
  --_highlight-size: 0;
  border-style: none;
  shadow: none;
  border: none;
}
