@font-face {
  font-family: "Alatsi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(~@fontsource/alatsi/files/alatsi-latin-ext-400-normal.woff2) format("woff2"),
    url(~@fontsource/alatsi/files/alatsi-latin-ext-400-normal.woff) format("woff");
  unicode-range: U+0-U+7f, U+0254, U+0186, U+025b, U+0190, U+0272, U+019d, U+014b, U+014a;
}
