/* andika-400normal - latin-ext */
@font-face {
  font-family: "Lunasima";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(~@fontsource/lunasima/files/lunasima-latin-ext-400-normal.woff2) format("woff2");
  unicode-range: u+0-u+7f, u+0254, u+0186, u+025b, u+0190, u+0272, u+019d, u+014b, u+014a;
}
/* andika-400normal - latin-ext */
@font-face {
  font-family: "Lunasima";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(~@fontsource/lunasima/files/lunasima-latin-ext-700-normal.woff2) format("woff2");
  unicode-range: u+0-u+7f, u+0254, u+0186, u+025b, u+0190, u+0272, u+019d, u+014b, u+014a;
}
