<!DOCTYPE html>
{{#if page.attributes.lang}}
<html lang={{page.attributes.lang}}>
{{else}}
<html lang="en">
{{/if}}

<head>
{{> head-first}}
<title>{{{detag (or page.title 'landing page')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
{{> head-last}}
</head>

<body class="landing-page">
{{> header}}
{{> body-landing}}
{{> footer}}
</body>
</html>
