<!DOCTYPE html>
{{#with (or page.attributes.lang page.version)}}
<html lang={{this}}>
{{/with}}

<head>
{{> head defaultPageTitle='Untitled'}}
</head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body-slides componentOrder=page.attributes.component-order}}
{{> footer}}
</body>
</html>
